/* $grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
); */

:root {
  --dl-snd-dark: #141516;
  --dl-box-shadow: 0 0 3px 0 rgb(0, 0, 0, 0.3);
  --dl-border: 2px solid var(--dl-snd-dark);
  scroll-behavior: auto;
  --bs-body-font-size: 15px;
  --bs-body-font-size-sm: 12px;
  --bs-xs: 448px;
  --bs-sm: 576px;
  --bs-md: 768px;
  --bs-lg: 992px;
  --bs-xl: 1200px;
  --bs-xxl: 1400px;
}

html,
body {
  font-size: var(--bs-body-font-size);
}

html {
  color-scheme: dark;
}

body {
  color: var(--bs-gray-200);
  background-color: var(--bs-dark);
}

@media (max-width: 768px) {

  main {
    font-size: var(--bs-body-font-size-sm);
  }

  .line-wrapper {
    font-size: var(--bs-body-font-size);
  }
}

@media (max-width: 448px) {
  .d-max-xs-none {
    display: none !important;
  }
}

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--dl-snd-dark);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

body ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, .25);
}

body ::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.app {
  min-height: 100vh;
}

.navbar.navbar-dark {
  border-bottom: var(--dl-border);
  box-shadow: var(--dl-box-shadow)
}

.navbar .navbar-brand img {
  /* max-height: 27px; */
  margin-right: 0.5em;
}

.click {
  cursor: pointer;
  transition: all .3s;
}

i.click:hover {
  color: var(--bs-primary);
}

.page,
.page.container,
.page.container-fluid {
  padding: 1.5em;
  overflow: auto;
}

h1 {
  margin-bottom: 1em;
}

h2 {
  margin-bottom: 0.5em;
}

.frame {
  border-radius: var(--bs-border-radius);
  border: var(--dl-border);
  box-shadow: var(--dl-box-shadow);
  overflow: hidden;
  margin-bottom: 1em;
}

.tooltip {
  font-size: 0.95em;
}

/* line */

.line-filters {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 0.75em;
}

.line-filters>* {
  margin-bottom: 0.75em;
}

.line-filters>.progress-bar {
  margin-bottom: 0.5em;
}

.line-wrapper {
  padding-top: 1em;
  padding-bottom: 2em;
  position: relative;
  z-index: 1;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.line-grid {
  display: flex;
  overflow: auto hidden;
}

.frame .line-grid {
  padding: 2em 2em 0 5em;
}

.line-grid .line-row {
  flex-wrap: nowrap;
  margin-bottom: 2em;
}

.line-grid>.line-row {
  flex-direction: column;
  margin-bottom: 0;
}

.line-grid .line-row.row {
  justify-content: flex-start;
  margin-left: 0;
  margin-right: 0;
}

.line-row:last-child {
  margin-bottom: 0;
}

.line-row .col {
  flex: 0;
  margin-bottom: 1.5rem;
}

.line-grid .line-row .col {
  margin-bottom: 0;
}

.line-grid>.line-row>.col {
  margin-bottom: 2em;
}

.line-grid>.line-row>.line-row {
  padding: 0;
}

.line-point,
.line-point-safe-zone {
  min-width: 10rem;
  min-height: 10rem;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-point-safe-zone {
  background-color: white;
  width: 10rem;
  height: 10rem;
  border-radius: var(--bs-border-radius);
}

.line-point .line-img {
  max-width: 10rem;
  max-height: 10rem;
  position: relative;
  z-index: 2;
  color: var(--bs-dark);
  transition: all .3s;
}

.line-point .line-skin {
  max-width: 3rem;
  max-height: 3rem;
  position: relative;
  z-index: 3;
  color: var(--bs-dark);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all .3s;
  opacity: 1;
}

.line-point .line-skin:hover,
.line-point .line-skin:focus {
  max-width: 10rem;
  max-height: 10rem;
  bottom: 0 !important;
  z-index: 4;
}

.line-point .line-img:hover,
.line-point .line-img:focus {
  z-index: 4;
}

.line-point .line-img:hover~.line-skin,
.line-point .line-img:focus~.line-skin,
.line-point .line-skin:hover~.line-skin,
.line-point .line-skin:focus~.line-skin {
  opacity: 0;
}

.line-point .line-svg {
  position: absolute;
  z-index: -2;
  /* top: 0; */
  bottom: 0;
}

.line-point .line-svg.left {
  right: 0;
}

.line-point .line-svg.right {
  left: 0;
}

.line-point .spinner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.line-point .spinner-wrapper .spinner-border {
  color: var(--bs-gray-400);
  border-right-color: var(--bs-gray-600);
}

.line-grid .levels {
  position: absolute;
  top: 1em;
  bottom: 0;
  left: 1em;
  margin-left: -3px;
  display: flex;
  flex-direction: column;
}

.line-grid .levels .level {
  height: 12rem;
  border-right: var(--dl-border);
  border-top: var(--dl-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-grid .levels .level:last-child {
  border-bottom: var(--dl-border);
}

.line-grid .levels .level span {
  position: relative;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* Progress Bar */

.progress-bar {
  position: relative;
  width: 300px;
  height: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: visible;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 15px;
  /* margin-left: -1.2em; */
}

.progress-bar::before,
.progress-bar .progress {
  position: absolute;
  left: 20px;
  right: 20px;
  height: 5px;
}

.progress-bar::before {
  content: '';
  background-color: var(--bs-gray-200);
  left: 20px;
  right: 20px;
}

.progress-bar .progress {
  transition: all .3s;
  background-color: var(--bs-blue);
}

.progress-bar .step {
  position: relative;
  width: auto;
  height: 15px;
  flex-grow: 1;
  cursor: pointer;
}

.progress-bar .step:before {
  content: '';
  position: absolute;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  background-color: var(--bs-gray-200);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all .3s;
}

.progress-bar .step.selected:before {
  background-color: var(--bs-blue);
}

.progress-bar .step .legend {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-33%, -125%);
  font-size: 0.9em;
}